<!-- Enhancement -->
<section id="account-profile-container">
  <% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

  <%- messages() %>
  
  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <p>Keep your dealer profile updated and increase your selling chances!</p>
  <form action="/account/dealer-profile" method="post">
    <div class="form-field">
      <label for="contact">Contact</label>
      <input name="contact" id="contact" type="text" required value="<%= locals.contact %>">
    </div>
    <div class="form-field">
      <label for="additional_comments">Additional Comments</label>
      <textarea name="additional_comments" id="additional_comments"><%= locals.additional_comments %></textarea>
    </div>
    <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>>
    <button type="submit" id="update-profile-btn">Update Dealer Profile</button>
  </form>
</section>