<section id="add-classification-inventory-container">
  <form action="/inv/update" id="updateForm" method="post" style="margin-top: 2rem">
    <% if (title) { %>
      <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <div class="form-field">
      <label for="inv_make">Make</label>
      <input name="inv_make" id="inv_make" type="text" value="<%= locals.inv_make %>" required>
    </div>
    <div class="form-field">
      <label for="inv_classification">Classification</label>
      <%- classificationSelect %>
    </div>
    <div class="form-field">
      <label for="inv_model">Model</label>
      <input name="inv_model" id="inv_model" type="text" value="<%= locals.inv_model %>" required>
    </div>
    <div class="form-field">
      <label for="inv_year">Year</label>
      <input name="inv_year" id="inv_year" type="number" value="<%= locals.inv_year %>" required>
    </div>
    <div class="form-field">
      <label for="inv_description">Description</label>
      <textarea name="inv_description" id="inv_description" type="text" required><%= locals.inv_description %></textarea>
    </div>
    <div class="form-field">
      <label for="inv_image">Image</label>
      <input name="inv_image" id="inv_image" type="text" value="<%= inv_image %>" required>
    </div>
    <div class="form-field">
      <label for="inv_thumbnail">Thumbnail</label>
      <input name="inv_thumbnail" id="inv_thumbnail" type="text" value="<%= inv_thumbnail %>" required>
    </div>
    <div class="form-field">
      <label for="inv_price">Price $</label>
      <input name="inv_price" id="inv_price" type="number" value="<%= locals.inv_price %>" required>
    </div>
    <div class="form-field">
      <label for="inv_miles">Miles</label>
      <input name="inv_miles" id="inv_miles" type="number" value="<%= locals.inv_miles %>" required>
    </div>
    <div class="form-field">
      <label for="inv_color">color</label>
      <input name="inv_color" id="inv_color" type="text" value="<%= locals.inv_color %>" required>
    </div>
    <input type="submit" value="Update Vehicle" disabled="true">

    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
  </form>
</section>

<script src="/js/inv-update.js"></script>